<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo-container">PLATZ FÜR LOGO</div>
    <ul class="menu-items">
      <li [routerLink]="'/'"><mat-icon>bar_chart</mat-icon> Dashboard</li>
      <li [routerLink]="'/user'"><mat-icon>perm_identity</mat-icon> Customers</li>
      <li [routerLink]="'/pets'"><mat-icon>pets</mat-icon> Pets</li>
      <li [routerLink]="'/bills'"><mat-icon>attach_money</mat-icon> Open bills</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button class="button-menu" (click)="drawer.toggle()">
        <mat-icon class="menu-icon">menu</mat-icon>
      </button>
      <span>Simple CRM</span>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
