<mat-card>
    <table class="bills-table">

      <tr>
        <th>Name</th>
        <th>bills</th>
        <th>bezahlt</th>
      </tr>

      <ng-container *ngFor="let user of users$ | async">
        <tr *ngIf="user.bill != 0 || user.bill != ''">
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.bill }}</td>
          <td class="icon" (click)="payBill(user.id)">
              <mat-icon>payments</mat-icon>
          </td>
        </tr>
      </ng-container>
      
    </table>
</mat-card>
