.charts {
  display: flex;
  justify-content: space-between;
}

#chart1 {
  width: 50%;
  height: 300px;
}

#chart2 {
  width: 50%;
  height: 300px;
}

.petsInCare {
  display: flex;
  cursor: default;
  height: 150px;
  width: 200px;
  align-items: center;
  justify-content: space-around;
  >.number {
    font-size: 40px;
    font-weight: 700;
  }
}