.mainContainer {
  display: flex;
  flex-direction: column;
  height: 700px;
  box-sizing: border-box;
  justify-content: space-between;
}

.charts {
  display: flex;
  justify-content: space-around;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  border: solid 3px #693bb8;
  border-radius: 25px;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  border: solid 3px #693bb8;
  border-radius: 25px;
}

#chart1 {
  width: 50%;
  height: 300px;
}

#chart2 {
  width: 50%;
  height: 300px;
}

.petsInCare {
  display: flex;
  cursor: default;
  height: 150px;
  width: 200px;
  align-items: center;
  justify-content: space-around;
  >.number {
    font-size: 40px;
    font-weight: 700;
  }
}